// Variables

$primaryColor: #BA1B1A;
$secondaryColor:#ffffff;
$fontColor: #272321;
$accent: #6F766F;

$defaultFont: 'Open Sans', sans-serif;
$titleFont: 'Rajdhani', sans-serif;
$normalWeight: 400;
$boldWeight: 600;

$mainText: 16px;
$headText: $mainText * 2;/*--------Operator Use-------*/